<!--<div class="orders-container">-->
<!--  <h2>طلباتي</h2>-->
<!--  <button (click)="getRequestOrdersRelatedToUser()">Orders</button>-->

<!--  <div *ngIf="orderDetails && orderDetails.length > 0;">-->
<!--    <table class="orders-table">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>CODE</th>-->
<!--        <th>TOTAL PRICE</th>-->
<!--        <th>TOTAL QUANTITY</th>-->
<!--        <th>PRODUCTS</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let order of orderDetails">-->
<!--        <td>{{ order.code }}</td>-->
<!--        <td>{{ order.totalPrice }}</td>-->
<!--        <td>{{ order.totalQuantity}}</td>-->
<!--        <td>{{ order.product }}</td>-->

<!--        <ng-template >-->
<!--          <p *ngIf="order.product.length === 0">لا توجد طلبات لعرضها.</p>-->
<!--          <p *ngIf="order.product.length === 0">No orders for showing</p>-->
<!--        </ng-template>-->
<!--      </tr>-->

<!--      </tbody>-->
<!--    </table>-->
<!--&lt;!&ndash;    <ng-template #noOrders>&ndash;&gt;-->
<!--&lt;!&ndash;      <p >لا توجد طلبات لعرضها.</p>&ndash;&gt;-->
<!--&lt;!&ndash;      <p>No orders for showing</p>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-template>&ndash;&gt;-->

<!--  </div>-->


<!--</div>-->


